.footer1{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color:rgb(20, 22, 22); display: flex;}
    
   
    .form{
        width: 300px;
        height: 200px;
        flex-direction: column;
        background-color: white;
        position: absolute;
        margin-left: 15%;
        margin-top: 6%;
       
        
        
        input{
            margin-top: 10px;
            margin-left: 15%;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #00cc99;
            width: 60%;
            margin-top: 12px;
            outline: none;
            
            
        }
        div button{
            margin-top: 10px;
            margin-left: 15%;
            border: none;
            background-color: #254a93;
            color: #fff;
            padding: 8px 20px;
            margin-top: 15px;
}
        }
    


    .fboxwraper{
    
        width: 100%;
        height: 250px;
        
        background-color: #000000;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
     
    }
        .fconteiner{
            max-width: 1200px;
            width: 90%;
            height: auto;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
    
    
    
            
        }

        .footerbox2 ,  .footerbox3{
            color: white;
            width: 220px;
            list-style: none;
            height: auto;
    

        }
        .footerbox2 ,  .footerbox3, .footerbox4{
            padding-left: 30px;

        }

        .footerbox2 h3 , .footerbox4 h3 {
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
            .footerbox2 li{
                padding-top: 15px;
                
            }
                .footerbox2 li a{
                    color: #ffffff;
                }
        .footerbox3{
            font-size: 22px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .ficon{
            margin-top: 30px;
            color: #ffffff;
        }
            .ficon a{
                
                color: #ffffff;
            }
        #icon2{
            padding-left: 10px;
            
        }
            .ficon i{
                font-size: 18px;
                
            }
        .footerbox4{
            color: #ffffff;
            max-width: 300px;
            flex-direction: column;   
        }

            .footerbox4 input{
                flex-direction: column;
                margin-top: 30px;
                height: 30px;
                outline: none;
                width: 90%;
            }

    .footerbox4 button{
        background-color: #000000;
        color: #ffffff;
        border: 1px solid silver;
        max-width: 80px;
        height: 35px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px; 
    }     

    .footerbox4 button a{
        text-decoration: none;
        color: #ffffff;
            
    }
    



.footerend{
    width: 100%;
    height: 100px;
    background-color: #000000;
    position: relative;   
}

.footerend::before{
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: rgba(25, 32, 32, 0.753);
    display: inline-block;
    }
    .footerend i, .footerend p{
    color: #ffffff;
    margin-left: 10px;
   
}

.copyright{
display: flex;
position: absolute;
top: 50%;
margin-left: 42%;
box-sizing: border-box;
 }